__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

.env

.vscode/

*.sqlite3

/static/
/media/

*/migrations/*.py
*/migrations/*.pyc

.DS_Store
Thumbs.db

*.log

node_modules/

*.swp
*.swo
*.bak
